<!DOCTYPE html>
<html>
<head>
  <title>Barter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="super">
	<div class="header">
		<h1> Super Barter System </h1>
	</div>
	<div class="sidebar">
		<%= link_to 'View Items', '/items' %>
		<br>
		<br>
		<% if UserSession.current_user %>
			<%= link_to 'Logout', '/logout' %>
		<% else %>
			<%= link_to 'Register', '/register' %>
			<%= link_to 'Login', '/logout' %>
		<% end %>
	</div>

	<div class="mainPanel <%= controller.controller_name %> <%= controller.action_name %>">
		<% if notice %>
  		<p id="notice"><%= notice %></p>
		<% end %>
	
		<%= yield %>
	</div>
</div>

</body>
</html>
