<h1>Recieved</h1>

<table>
  <thead>
    <tr>
      <th>Main Item</th>
      <th>Offer Status</th>
      <th>From User</th>
      <th>Message</th>     
    </tr>
  </thead>

  <tbody>
    <% Offer.recieved.each do |offer| %>
      <tr>
        <td><%= link_to offer.item.description, offer.item %></td>
        <td><%= link_to offer.status, offer %></td>
        <td><%= offer.user.username %></td>
        <td><%= offer.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Sent</h1>

<table>
  <thead>
    <tr>
      <th>Main Item</th>
      <th>Offer Status</th>
      <th>To User</th>
      <th>Message</th>
    </tr>
  </thead>

  <tbody>
    <% Offer.sent.each do |offer| %>
      <tr>
        <td><%= link_to offer.item.description, offer.item %></td>
        <td><%= link_to offer.status, offer %></td>
        <td><%= offer.item.user.username %></td>
        <td><%= offer.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>


