<h2><%= @offer.status %> Offer</h2>
<p>
  <strong>Message:</strong>
  <%= @offer.message %>
</p>

<p>
  <strong>Status:</strong>
  <%= @offer.status %>
</p>

<% if @offer.status == "Pending" %>
  <% if @offer.belongs_to_me? %>
    <%= link_to 'Destroy', @offer, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% else %>
		<%= link_to 'Accept', accept_path(@offer.id) %>
		<%= link_to 'Decline', decline_path(@offer.id) %>
  <% end %>
<% end %>

<br />
<h2>Main Item</h2>

<p>
  <%= image_tag(@item.image.to_s, class: 'list_image') %> 
</p>

<p>
  <strong>Title:</strong>
  <%= link_to @item.title, @item %>
</p>

<br />
<h2>Trade Items</h2>
<% @offer.items.each do |item| %>
 <p>
    <%= image_tag(item.image.to_s, class: 'list_image') %> 
  </p>

  <p>
    <strong>Title:</strong>
    <%= link_to item.title, item %>
  </p>
<% end %>