<p>
  <strong>Item:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @offer.message %>
</p>

<p>
  <strong>Status:</strong>
  <%= @offer.status %>
</p>

<% if @offer.belongs_to_me? %>
	<%= link_to 'Destroy', @offer, method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
	<% if @offer.status == "Pending" %>
		<%= link_to 'Accept', accept_path(@offer.id) %>
		<%= link_to 'Decline', decline_path(@offer.id) %>
	<% end %>
<% end %>