<p>
	<%= image_tag(@item.image.to_s, class: 'list_image') %> 
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>

<% if @item.belongs_to_me? %>
	<%= link_to 'Edit', edit_item_path(@item) %>
  <%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
	<% if @item.status == "Avaliable" %>
		<%= link_to 'Make Offer', new_offer_path(:item_id => @item.id) %>
	<% end %>
<% end %>